body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background: #d8a96b;
    letter-spacing: 0.02em;
    text-align: center;
}

h1 {
    /* display: flex; */
    position:relative;
    justify-content: center;
    color: black;
    background-color: rgb(252, 249, 250);
    height: auto;
    width: auto;
    margin-left: 285px;
    margin-right: 285px;
    border-style: solid;
    border-radius: 15px;
}

.category {
    background: #e4be56;
    border-radius: 8px;
    font-size: 23px;
    font-display: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.question {
    color: rgb(8, 8, 8);
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 3px;
    padding: 5px;
}

.answers {
    color:rgb(17, 17, 16);
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 22px;
	border-style:solid;
    border-color: black;
	border-radius: 15px;
	padding: 8px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
    color:rgb(252, 249, 250);
    border-style: 300px;
    border-color: rgb(223, 216, 216);
	background-color: rgb(18, 20, 20);
}

.quiz-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quiz {
    text-align: center;
    padding: 1px;
    width: stretch;
    height: auto;
    background-image: url("https://images.all-free-download.com/images/graphiclarge/a_glass_of_beer_closeup_picture_167081.jpg");
    background-size: 1200px;
    background-position-y: -380px;
    opacity: .8;
}

.question-card {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color:rgb(15, 14, 15);
    background-color: rgb(252, 249, 250);
    background-image: url("https://images.all-free-download.com/images/graphiclarge/a_glass_of_beer_closeup_picture_167081.jpg");
    background-size: 600px;
    background-position-y: -10px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px black solid;
    height: 208px;
    width: 300px;
    box-shadow: 6px 3px rgb(48, 49, 48);
    border-radius: 10px;
}

.correct-answer {
    color:rgb(252, 249, 250);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 2px black solid;
    height: 208px;
    width: 300px;
    box-shadow: 6px 3px rgb(48, 49, 48);
    background-color: rgb(99, 180, 17);
    border-radius: 10px;
}

.wrong-answer {
    color:rgb(252, 249, 250);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 2px black solid;
    height: 208px;
    width: 300px;
    box-shadow: 6px 3px rgb(48, 49, 48);
    background-color: rgb(226, 26, 59);
    border-radius: 10px;
}

#results {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    font-display: bold;
    position:relative;
    justify-content: center;
    color: black;
    background-color: rgb(252, 249, 250);
    height: auto;
    width: auto;
    margin-left: 285px;
    margin-right: 285px;
    border-style: solid;
    border-radius: 15px;
}

.answer-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 /* Hide the browser's default radio button */
 .answer-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eeeeee;
    border-radius: 50%;
  }
  
  .answer-container:hover input ~ .checkmark {
    content: "🍺";
    background-color: #f7ae41;
  }
 
  .checkmark:after {
    content: "🍺";
    position: relative;
    display: none;
  }

  .answer-container input:checked ~ .checkmark:after {
    display:block;
  }

  .answers-after {
    color:rgb(253, 252, 250);
    text-align: left;
    display: inline-block;
}

.answers-after label {
    display: block;
    margin-bottom: 10px;
}

.category-after {
    background: #fdfcfa;
    border-radius: 5px;
    font-size: 23px;
    color:rgb(8, 8, 8);
    font-display: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}


